<body>
  
  <div class="site-wrap">
       
    <div class="site-blocks-cover">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#Nouvelle Collection Eté 2019</h2>
            <h1>Nouvelles Ventes</h1>
            <p><%= link_to "J'en profite", items_path, :class => "btn btn-black rounded-0" %> 
</p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-start">
            <%= image_tag ("model_3.png"), :class => "img-fluid", :alt => "Image" %>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 class="text-uppercase"><span class="d-block">Découvrez</span> Les Collections</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-7">
            <div class="product-item sm-height full-height bg-gray">
              <%= link_to "Femmes", items_path, :class => "product-category" %>
              <%= image_tag ("model_4.png"), :class => "img-fluid", :alt => "Image" %>
              
            </div>
          </div>
          <div class="col-lg-5">
            <div class="product-item sm-height bg-gray mb-4">
              <%= link_to "Hommes", items_path, :class => "product-category" %>
              <%= image_tag ("model_5.png"), :class => "img-fluid", :alt => "Image" %>
            </div>

            <div class="product-item sm-height bg-gray">
              <%= link_to "Autres", items_path, :class => "product-category" %>
              <%= image_tag ("model_6.png"), :class => "img-fluid", :alt => "Image" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Meilleures Ventes</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <%= image_tag ("prod_2.png"), :class => "img-fluid", :alt => "Image" %>
            </a>
            <h2 class="item-title"><a href="#">Gray Shoe</a></h2>
            <strong class="item-price">$20.00</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <%= image_tag ("prod_3.png"), :class => "img-fluid", :alt => "Image" %>
            </a>
            <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <%= image_tag ("model_5.png"), :class => "img-fluid", :alt => "Image" %>
            </a>
            <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>

            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>

          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <%= image_tag ("prod_1.png"), :class => "img-fluid", :alt => "Image" %>
            </a>
            <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>
            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <%= image_tag ("model_1.png"), :class => "img-fluid", :alt => "Image" %>
            </a>
            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <%= image_tag ("model_7.png"), :class => "img-fluid", :alt => "Image" %>
            </a>
            <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
            <strong class="item-price">$58.00</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="site-blocks-cover inner-page py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#Nouvelle Collection Eté 2019</h2>
            <h1>Nouvelles Fragances</h1>

            <p><%= link_to "J'en profite", items_path, :class => "btn btn-black rounded-0" %></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-start">
            <%= image_tag ("model_6.png"), :class => "img-fluid", :alt => "Image" %>
          </div>
        </div>
      </div>
    </div>

  
  </div>
    
  </body>