<h1>StaticPages#secret</h1>
<p>Find me in app/views/static_pages/secret.html.erb</p>

<div>MON MAIL: <%= @mail_user %></div>
<div>
	ID : <%= @id_user %>
</div>
<br>

<h4>Dernière facture</h4>
<div> date: <%= @factu_user.created_at %></div>
<div> price: <%= @factu_user.total_price %></div>
<div> Adresse: <%= @factu_user.adress %> <%= @factu_user.zip_code %> <%= @factu_user.country %></div>
<div> Noms & prénoms associés: <%= @factu_user.first_name %> <%= @factu_user.last_name %> <%= @factu_user.company_name %></div>

