 <body>
  
  <div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><%= link_to "Home", root_path %> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
              	<% if @array_length < 0 %>
                	 <div>Votre panier est vide </div>
               <% else %>
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Produit</th>
                    <th class="product-price">Prix</th>
                    <th class="product-quantity">Quantité</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Supprimer</th>
                  </tr>
                </thead>

                
                <tbody>
                  <tr>
                  	<% while @array_length >= 0 %>
                    <td class="product-thumbnail">
						
                    	<%= image_tag ("#{Item.find(@jt_item_id[@array_length][:item_id]).image_url}.jpg"), :alt => "Image", :class => "img-fluid" %>
                      
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black"><%= Item.find(@jt_item_id[@array_length][:item_id]).name %></h2>
                    </td>
                    <td><%= Item.find(@jt_item_id[@array_length][:item_id]).price %>€</td>
                    <td>
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                      </div>

                    </td>
                    <td><%= Item.find(@jt_item_id[@array_length][:item_id]).price %>€</td>

                    <td> 
                    	<%= link_to "X", jt_cart_item_path(Item.find(@jt_item_id[@array_length][:item_id]).id), method: :delete, :class => "btn btn-primary height-auto btn-sm"%>
                  </tr>
                  	 <% @array_length -= 1 %>
					<% end %>
					<% end %>
                  <tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-primary btn-sm btn-block"><%= link_to "Mettre à jour le panier" , carts_path(Cart.find_by(user_id: current_user.id).id), :class => "btn btn-primary btn-sm btn-block"%></button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-primary btn-sm btn-block"><%= link_to "Continuer mes achats" , items_index_path%></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm px-4">Apply Coupon</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Panier Total</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Sous-total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black"><%= total_price %> €</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total TTC</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black"><%= total_price_ttc %> €</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>    
</body>