<div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><%= link_to "Home", root_path %> <span class="mx-2 mb-0">/</span> <%= link_to "Shop", items_index_path %> <span class="mx-2 mb-0">/</span> <strong class="text-black"><%= @item_name %></strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="item-entry">
              <a href="#" class="product-item md-height bg-gray d-block">
              	<%= image_tag ("#{@item_select.image_url}.jpg"), :alt => "Image", :class => "img-fluid" %>
              </a>
              
            </div>

          </div>
          <div class="col-md-6">
            <h2 class="text-black"><%= @item_name %></h2>
            <p><%= @item_description %></p>
            <p><strong class="text-primary h4">$<%= @item_price %></strong></p>
            
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>

            </div>
            <% if user_signed_in? %>
              <p><a href=<%= carts_path(Cart.find_by(user_id: current_user.id).id)%>, class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Ajouter au panier</a></p>
              <input type="hidden" id="user_id" name="user_id" size="1" value="<%= JtCartItem.create(cart_id: Cart.find_by(user_id: current_user.id).id, item_id: params[:format]) %>" />
          <% else %>
              <p><a href=<%= new_user_session_path %> , class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Me connecter pour Acheter</a></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>