<div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <%= link_to "SHOP", root_path, :class =>"js-logo-clone" %>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children active">
                	<%= link_to "Accueil", root_path %>
                  
                  <ul class="dropdown">
                    <li><%= link_to "Me Déconnecter", destroy_user_session_path, method: :delete %></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li>
                          <%= link_to "A Propos", static_pages_about_path %></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
                <li><%= link_to "Boutique", items_path %></li>
                <li><%= link_to "Nouvelle Collection", item_path(Item.last) %></li>
                <li><%= link_to "Contact", static_pages_contact_path %></li>
              </ul>
            </nav>
          </div>
          <div class="btn-group">
            <div class="fas fa-user-tag fas fa-sort-down"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             
            </div>
            <div class="dropdown-menu">
              <% if user_signed_in? %>
                <a class="dropdown-item" href="#"><%= current_user.email%></a>
                
                <%= link_to "Mon Profil", static_pages_secret_path, :class => "dropdown-item" %>
                <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              <% else %>
                <%= link_to "Me connecter", new_user_session_path, :class => "dropdown-item" %>
                <%= link_to "Créer un compte", new_user_registration_path, :class => "dropdown-item" %>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              <% end %>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children active">
                  <a href=""><i class="fas fa-user-tag"></i></a><i class="fas fa-sort-down"></i>
                  
                  <% if user_signed_in? %>
                  <ul class="dropdown">
                    <li><a href="#"><%= current_user.email%></a></li>
                    <div class="dropdown-divider"></div>
                    <li><%= link_to "Mon Profil", static_pages_secret_path, :class => "dropdown-item" %></li>
                    <li><%= link_to "Me déconnecter", destroy_user_session_path, method: :delete %></li>
                    <li><a href="#">Menu Three</a></li>
                  </ul>
                  <% else %>
                    <ul class="dropdown">
                    <li><%= link_to "Me connecter", new_user_session_path %></li>
                    <li><%= link_to "Créer un compte", new_user_registration_path %></li>
                    <li><a href="#">Menu Three</a></li>    
                  </ul>
                  <% end %>
                </li>
            </nav>
          </div>
          

          <div class="icons-div">     
            <a href="#"><i class="fas fa-search" id="icon-sub-div"></i></a>
            <a href="#"><i class="far fa-heart" id="icon-sub-div"></i></a>
            <% if user_signed_in? %>
            <a href=<%= cart_path(Cart.find_by(user_id: current_user.id).id) %>>
              <% else %>
            <a href=<%= new_user_session_path %>>
              <% end %>
              <i class="fas fa-cart-arrow-down " id="icon-sub-div"></i>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>